/* div {
  border: solid 1px red;
} */

.background{
  background-image: url("../assets/computer-screen-2.png");
  background-repeat:no-repeat;
  background-position: center center;
  background-size: 90rem;
  height: 75rem;
}
.projects{
  position: relative;
  top: -11rem;
  left: 58rem;
  height: 22rem;
  width: 32rem;
}
.projects-prompt{
  height: 22rem;
  width: 31rem;
}

.projects-button{
  position: relative;
  top: -3.25rem;
  left: 22.8rem;
}

.projects-button-img{
  height: 2rem;
  width: 7rem;
}

.container {
  position: relative;
  top: 12rem;
  left: 58rem;
  width: 33.5rem;
  height: 23rem;
  font-family: 'Roboto',  sans-serif;
  font-size: 1rem;
  overflow-x: auto;
}

.text-input {
  height: 1rem;
  background: transparent;
  border: white;
  color: green;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  overflow: hidden;
  resize: none;
  width: calc(100% - 10rem);
  vertical-align: text-top
}

*:focus {
  outline: none;
}

@media only screen and (max-width: 1440px) {
  .container {
    left: 24rem;
  }
}

@media only screen and (max-width: 1024px) {
  .container {
    left: 12rem;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    left: 2rem;
  }
}